.operationsHistory {
  @media(min-width: 1100px) {
    width: 50%;
    margin: 50px 50px;
    margin-right: 20px;}
  @media(max-width: 1099px) {
    width: 95%;
    margin: 50px 20px;
    margin-bottom: 10px;}
  .row {
    align-items: center;
    font-size: 28px;
    position: relative;
    .monthName {
      position: absolute;
      font-size: 22px;
      font-weight: 600;
      top: 2px; }
    .fixed-action-btn {height: 50px;}
    .addOperationButton {
      position: absolute;
      background-color: #CC144A;
      right: 0; top: 0;}
    .collection {
      display: flex;
      flex-direction: column;
      p:first-of-type {
        cursor: pointer;
        margin-top: 2px;}
      div {
        display: flex;
        .historyIcon {
          margin-right: 10px;
          margin-top: 20px; }
        .col-1 {
          width: 500px;
          flex-wrap: wrap;
          display: flex;
          flex-direction: column; }
        .collection-date {
          font-size: 18px;
          padding-bottom: 5px; }
        .collection-category {
          font-size: 24px;
          padding-bottom: 5px; }
        .collection-name {
          font-size: 28px;
          padding-bottom: 5px; }
        .collection-info { font-size: 16px; }
        .col-2 {
          .collection-value {
            text-transform: none;
            display: flex;
            align-items:center;
            justify-content: center;
            font-size: 24px;
            width: 100px;
            height: 100px;
            span {text-align: center; margin: 0 auto;} } } } } } }
