.main-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  @media(min-width: 1100px) {
    flex-wrap: nowrap;}
  @media(max-width: 1099px) {
    flex-wrap: wrap;}
  .balancePanel {
    @media(min-width: 1100px) {
      width: 50%;
      margin: 50px 50px;
      margin-left: 20px;}
    @media(max-width: 1099px) {
      width: 95%;
      margin: 50px 20px;
      margin-top: 10px;}
    .cardPanel {
      text-align: center;
      padding: 30px 0;
      padding-top: 5px;
      .cardInside {
        margin: 0 auto;
        width: 90%;
        height: 90%;
        background-color: lightgrey;
        border-radius: 5px;
        h2 {
          margin-bottom: -40px; font-size: 32px;
          padding-top: 10px; }
        .moneyBagImg {
          margin-top: -70px;
          margin-bottom: -50px;
          span {
            font-size: 50px;
            top: 35px;
            vertical-align: middle; } }
        .balanceImg {
          align-content: space-between;
          margin-bottom: -50px;
          span {
            vertical-align: middle;
            font-size: 22px;
            font-weight: 600;
            color: red; }
          span:first-of-type { color: green; } }
        .categoryBalance {
          .inputBalance {
            width: 200px;
            margin: 0 auto;
            margin-top: -40px; font-size: 40px; font-weight: 600; margin-bottom: 10px;
            span {font-size: 24px; color: black;}
          }
          .catImgs {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 75px;
            margin-left: 20px;
            .value {
              font-size: 32px;
              font-weight: 600;
              padding: 10px 0;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
