@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

/*
009DCC - lightblue
3D8499 - blue
00FFAE - green/blue
FF4C40 - lightred
CC144A - red
*/

html {font-family: "Nunito", sans-serif;}

body {
  .mainApp {
    margin: 0 auto;
    font-size: 100px;
    width: 95vw;
    background-color: #00FFAE;
    //SEKCJA DODAWANIA NOWYCH OPERACJI
    @import "appStyles/appAddOperation";
    //SEKCJA Z HISTORIĄ OPERACJI
    @import "appStyles/appOperationHistory";
    //NAGŁÓWEK APLIKACJI + NAWIGACJA SLIDE-OUT
    @import "appStyles/appAppHeader";
    //SEKCJA Z SALDEM
    @import "appStyles/appBalance";
  }
}

//ANIMACJE
@import "animations/simpleAnimations"
