@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

/*
009DCC - lightblue
3D8499 - blue
00FFAE - green/blue
FF4C40 - lightred
CC144A - red
*/

//OKNO LOGOWANIA / TWORZENIA NOWEGO KONTA

html { font-family: "Nunito", sans-serif; }

body {
  background-color: #3D8499;

  .login {
    @media (max-width: 599px) { width: 100%; }
    @media (min-width: 600px) { width: 600px; }
    height: 440px;
    margin: 150px auto;
    box-sizing: border-box;
    background-color: lightgrey;
    border-radius: 30px;
    box-shadow: 0 0 20px 5px #00C3AB;
    text-align: center;

    #loginHeader {
      font-size: 36px;
      margin: 20px;
      padding-top: 10px; }
    #createAccountHeader {
      font-size: 36px;
      margin: 10px;
      padding-top: 10px; }
    #errorMessage {
      display: block;
      height: 1px;
      font-size: 18px;
      margin-top: 15px;
      font-weight: 600;
      color: darken(red, 10%); }
    #buttonCreate {
      margin-top: -10px;
      font-size: 22px; }
    #buttonLogin {
      font-size: 22px; }
    #createAccountLink {
      margin-top: 50px; }
    #logInLink {
      margin-top: 20px; }


    .formLogin {
      display: flex;
      justify-content: center;
      .input-field {
        width: 300px;
        margin-top: 5px; }
      input, label {
        font-size: 28px; }
    }
  }
}
