@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

/*
#580358 - dark
#915289 - light
#6F8F3C - dark
#5D8604 - light
#FFD804 - else
*/

html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #915289;
  .login {
    @media (max-width: 599px) {
      width: 100%;
      height: 400px;
    }
    @media (min-width: 600px) {
      width: 600px;
      height: 400px;
      margin: 150px auto;
    }
    box-sizing: border-box;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: 0 0 20px 5px #5D8604;
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 700;
      margin: 20px 0;
      &:last-of-type { margin-top: 50px; margin-bottom: 30px; }
    }

    .formLogin {
      display: flex;
      justify-content: center;
      align-items:flex-end;
      input {
        width: 300px;
        height: 30px;
        margin-bottom: 20px;
        font-size: 24px;
        padding-left: 5px;
      }
      label {
        font-size: 16px;
      }
    }

    a {
      font-size: 24px;
      color: black;
    }

    #errorMessage {
      color: red;
      display: block;
      font-size: 24px;
      font-weight: bold;
      height: 1px;
      margin: 15px 0;
    }
  }
}
